/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*START*/
body{
	height: 1500px;
}

div.container{
	width: 100%;
	padding: 0;
	height: 100%;
	background-color: lightblue;
	overflow: none;
	margin: 0 1%;
	-webkit-perspective:800px;
	perspective:800px;
	margin-left: 0;
	padding-left: 0;
}

div.flip3D{
	width: 100%; 
	height: 33%;
}

/*@media only screen and (max-width : 320px) {

}*/

.flip3D > .front{
	position: absolute;
	-webkit-transform: perspective(600px) rotateY(0deg);
	transform: perspective(600px) rotateY(0deg);
	width: 100%;
	height: 33%;
	-webkit-backface-visibility:hidden;
	backface-visibility: hidden;
	transition:-webkit-transform .5s linear 0s;
	transition:transform .5s linear 0s;
}
.flip3D > .back{
	position: absolute;
	-webkit-transform: perspective(600px) rotateY(180deg);
	transform: perspective(600px) rotateY(180deg);
	width: 100%;
	height: 33%;
	border-radius: 8px;
	-webkit-backface-visibility:hidden;
	backface-visibility: hidden;
	transition:-webkit-transform .5s linear 0s;
	transition:transform .5s linear 0s;
}

@media and (max-width : 480px) {
	div.flip3D { 
		height: 100%;
	}
	div.flip3D > .front{
		height: 100%;
	}
	div.flip3D > .back{
		height: 100%;
	}

}

div.block{
	width: 51%;
	/* margin: 0 0; */
	height: 100%;
	/* margin-left: 1%; */
	/* margin-right: -1.9%; */
	position: absolute;
	/* background-color: blue; */
	display: inline-block;
}

/*.flipper_front{
	-webkit-transform: perspective(600px) rotateY(-180deg);
	transform: perspective(600px) rotateY(-180deg);
}*/

/*SECTION POSITIONING AND COLOR*/
#top > .front {
	background-color: #6C6969;
}
#top > .back {

}
#middle >.front{
	background-color: #7BEB78;
	top: 33%;
}
#middle >.back {
	top: 33%;
}
#bottom >.front {
	background-color: #21436C;
	top: 66%;
}
#bottom >.back {
	top: 66%;
}

/*****************************
BUTTON STYLES AND POSITIONING
******************************/

.button_front{
	top: 50%;
	position: absolute;
	/* right: 77%; */
	left: -4em;
	font-size: 1.4em;
	width: 10.3em;
	-webkit-transform:rotate(-90deg);
	transform: rotate(-90deg);
	cursor: pointer;
}
.button_back {
	top: 50%;
	position: absolute;
	/* right: 77%; */
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	font-size: 1.4em;
	width: 10.3em;
	right: -3em;
	cursor: pointer;
}
.button_front,
.button_back{
	font-family: 'Ubuntu', serif;
	background-color: #B87E13;
	border: none;
	color: #21436C;
	transition-duration:.4s;
}
.button_front:hover,
.button_back:hover{
	background-color: #B87E13;
	border: none;
	color: white;
	transition-duration: .4s;
	width: 12.3em;
	letter-spacing: 0.2em;
}

/******************
BLOCK COLORS
*******************/

#welcome{
	background-color: #21436C;
}
#prof_pic{
	background-color: white;
	left: 48.7%;
}
.front > h1{
	text-align: center;
	font-size: 3.0em;
}
.front >h3 {
	font-size: 1.5em;
	text-align: center;
}




#about_me{
	background-color: white; 
/*	top: 42.7%;*/
}
#portfolio{
	background-color: #6C6969; /*GRAY*/
/*	top: 42.7%;*/
	left: 48.7%;
}
#social{
	background-color: #00E9C1; /*LIGHTBLUE*/
/*	top: 86%;*/
}
#contact{
	background-color: white;
/*	top: 86%;*/
	left: 48.7%;
}

.text {
	width: 50%;
	text-align: center;
	margin: 8em auto 0;
	color: white;
	font-family: sans-serif;
}
.text h1 {
	font-size: 6.4em;
/*	font-family: 'Droid Sans', sans-serif;*/
	font-family: 'Ubuntu', sans-serif;
/*	font-family: 'Bitter', serif;*/
/*	font-family: 'Roboto Slab', serif;*/
}



